/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: ##F8F8F8;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
  background-color: #F8F8F8;
  font-size: 32px;
}

.start-section {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#350816+0,40091a+100 */
  background: #F8F8F8; /* Old browsers */
  background: -webkit-linear-gradient(top, #F8F8F8 0%,#40091a 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #F8F8F8 0%,#40091a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  background-size: cover;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  opacity: 1;

  transition: all 1s ease-in-out;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: white;
}

.test {
  transform: translateX(-100%);
  opacity: 0;
}
.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #FFB24D;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.btn {
  background: none;

  padding: 10px 30px;
  border: 1px solid white;
  border-radius: 3px;

  font-size: 72px;
  color: white;
  font-style: italic;
  text-transform: uppercase;
  text-decoration: none;
}

.mainNav ul li {
  text-decoration: none;
  text-align: left;
  display: flex;
  justify-content: flex-start;
}

.mainNav a {
  color: white;
  text-decoration: none;
  padding: 10px;
  font-family: Helvetica, Arial, sans-serif;
}

.welcome{
  background-color: #F8F8F8;
  position: absolute;
  top: 30px;
  right: 30px;
  bottom: 30px;
  left: 300px;
  padding: 30px;
  color: #FFB24D;
  overflow: scroll;
  text-align: center;

}

.welcome h1{
  font-size: 20px;
  text-align: center;
}
.welcome img{
  padding-top: 2em;
}

.content-box {
  background-color: #F8F8F8;
  position: absolute;
  top: 30px;
  right: 30px;
  bottom: 30px;
  left: 300px;
  padding: 30px;
  color: white;
  overflow: scroll;
}

.nigiri_images{
  display: flex;
  flex-wrap: wrap;
  align-content:flex-start;
}
.nigiri_images h1{
  text-align: center;
  font-size: 0.5em;
  color: black;
}


.Salmon {
  width: 6em;
  padding: 40px;
  transition: all 1s ease;
}
.Salmon:hover {
  transform: scale(1.2) rotate(-3deg);
  -ms-transform: scale(1.2) rotate(-3deg); /* IE 9 */
  -webkit-transform: scale(1.2) rotate(-3deg); /* Safari and Chrome */
}
.Tuna {
  width: 6em;
  padding: 40px;
  transition: all 1s ease;
}
.Tuna:hover {
  transform: scale(1.2) rotate(-3deg);
  -ms-transform: scale(1.2) rotate(-3deg); /* IE 9 */
  -webkit-transform: scale(1.2) rotate(-3deg); /* Safari and Chrome */
}

.Prawn {
  width: 6em;
  padding: 40px;
  transition: all 1s ease;
}
.Prawn:hover {
  transform: scale(1.2) rotate(-3deg);
  -ms-transform: scale(1.2) rotate(-3deg); /* IE 9 */
  -webkit-transform: scale(1.2) rotate(-3deg); /* Safari and Chrome */
}

.Egg {
  width: 6em;
  padding: 40px;
  transition: all 1s ease;
}
.Egg:hover {
  transform: scale(1.2) rotate(-3deg);
  -ms-transform: scale(1.2) rotate(-3deg); /* IE 9 */
  -webkit-transform: scale(1.2) rotate(-3deg); /* Safari and Chrome */
}



.roll_images{
  display: flex;
  flex-wrap: wrap;
  align-content:space-between;
  flex-direction: row;
  align-content:flex-end;
}
.roll_images h1{
  text-align: center;
  font-size: 0.5em;
  color: black;
}

.Salmon2 {
  width: 4em;
  padding: 60px;
  transition: all 1s ease;
}
.Salmon2:hover {
  transform: scale(1.2) rotate(-3deg);
  -ms-transform: scale(1.2) rotate(-3deg); /* IE 9 */
  -webkit-transform: scale(1.2) rotate(-3deg); /* Safari and Chrome */
}

.Ikura {
  width: 3.1em;
  padding: 70px;
  transition: all 1s ease;
}
.Ikura:hover {
  transform: scale(1.2) rotate(-3deg);
  -ms-transform: scale(1.2) rotate(-3deg); /* IE 9 */
  -webkit-transform: scale(1.2) rotate(-3deg); /* Safari and Chrome */
}

.BC {
  width: 5em;
  padding: 50px;
  transition: all 1s ease;
}
.BC:hover {
  transform: scale(1.2) rotate(-3deg);
  -ms-transform: scale(1.2) rotate(-3deg); /* IE 9 */
  -webkit-transform: scale(1.2) rotate(-3deg); /* Safari and Chrome */
}

.Mango {
  width: 5em;
  padding: 50px;
  transition: all 1s ease;
}
.Mango:hover {
  transform: scale(1.2) rotate(-3deg);
  -ms-transform: scale(1.2) rotate(-3deg); /* IE 9 */
  -webkit-transform: scale(1.2) rotate(-3deg); /* Safari and Chrome */
}

.Tuna2 {
  width: 4.5em;
  padding: 50px;
  transition: all 1s ease;
}
.Tuna2:hover {
  transform: scale(1.2) rotate(-3deg);
  -ms-transform: scale(1.2) rotate(-3deg); /* IE 9 */
  -webkit-transform: scale(1.2) rotate(-3deg); /* Safari and Chrome */
}


.Wild_Salmon {
  width: 4em;
  padding: 50px;
  transition: all 1s ease;
}
.Wild_Salmon:hover {
  transform: scale(1.2) rotate(-3deg);
  -ms-transform: scale(1.2) rotate(-3deg); /* IE 9 */
  -webkit-transform: scale(1.2) rotate(-3deg); /* Safari and Chrome */
}

.Chocolate {
  width: 4em;
  padding: 50px;
  transition: all 1s ease;
}
.Chocolate:hover {
  transform: scale(1.2) rotate(-3deg);
  -ms-transform: scale(1.2) rotate(-3deg); /* IE 9 */
  -webkit-transform: scale(1.2) rotate(-3deg); /* Safari and Chrome */
}

.Matcha {
  width: 4em;
  padding: 50px;
  transition: all 1s ease;
}
.Matcha:hover {
  transform: scale(1.2) rotate(-3deg);
  -ms-transform: scale(1.2) rotate(-3deg); /* IE 9 */
  -webkit-transform: scale(1.2) rotate(-3deg); /* Safari and Chrome */
}


.Redbean {
  width: 4em;
  padding: 50px;
  transition: all 1s ease;
}
.Redbean:hover {
  transform: scale(1.2) rotate(-3deg);
  -ms-transform: scale(1.2) rotate(-3deg); /* IE 9 */
  -webkit-transform: scale(1.2) rotate(-3deg); /* Safari and Chrome */
}

.dessert_images{
  display: flex;
  flex-wrap: wrap;
  align-content:space-between;
  flex-direction: row;
  align-content:flex-end;
}
.dessert_images h1{
  text-align: center;
  font-size: 0.5em;
  color: black;
}



.content-box a {
  color: #eee;
}

.hide {
  display: none;
}

.btn-close {
  position: absolute;
  top: 5px;
  right: 10px;
  font-family: Helvetica, Arial, sans-serif;
  text-decoration: none;
  font-size: 24px
}









/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
